.navbar{
    background-color: rgba(0, 0, 0, 0.100);
}

.nav-link{
    color: rgb(0, 0, 0);
}

.photomain{
    background-image: url(https://i.pinimg.com/originals/f3/95/86/f395861a11d023b753bf24517a6e9a43.jpg);
    background-size: cover;
    background-position: 80% center;

}

.jumbotron{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.presentation{
    background-color: rgba(0, 0, 0, 0.100);
}

.lastsection{
    background-color: rgba(0, 0, 0, 0.100);
}

footer a{
    color: rgb(55, 55, 55);
    text-decoration: none;
}

footer a:hover{
color: brown;
}

@media screen and (max-width: 400px) {
    .photomain{
        background-position: 80% left;

    }  
}

.slides {
    max-width: 80vh;
    overflow: hidden;
}

.carousel-caption{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px #ffc2c2;
}

footer ul{
list-style-type: none;
}

